html {
    margin: 0px auto;
    max-width: 1440px;
}

section {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 50vw 40vw;
    grid-gap: 16px;
    background-color: white;
    margin-bottom: 16px;
        
}

.hero {
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
    grid-template-columns: 70vw;
    min-height: calc(120vh + 700px);
}

.section-second {
    align-items: center;
    display: grid;
    gap: 40px;
    grid-template-columns: 700px 600px;
    margin-right: 0;
    padding-bottom: 20px;
    width: 100%;

}

.fluiditype-schema {
    grid-template-columns: 70vw;
    padding-top: 80px;
}

@media only screen and (max-width: 1280px) {
    .section-second {
        display: flex;
        flex-wrap: nowrap; 
        flex-direction: column;
    }
}

@media only screen and (min-width: 768px) {
    section {
        display: flex;
        flex-wrap: nowrap; 
        flex-direction: column;
    }
}


@media only screen and (max-width: 768px) {
    .fluiditype-schema, .hero, .center-second  {
        display: flex;
        flex-wrap: nowrap; 
        flex-direction: column;
    }
    .hero{
        min-height: calc(150vh - 260px);
    }
}
  
@media only screen and (max-width: 480px) {
    .fluiditype-schema, .hero , .center-second {
        display: flex;
        flex-wrap: nowrap; 
        flex-direction: column;
    }
    .hero {
        min-height: calc(120vh - 30px);
    }
}

header {
    padding-top: 16px;
}

.header {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

a.header:hover{
    text-decoration: underline;
    color: white;
}

.hash-heading {
    background-color: #fb5d5d45;
    color: #fb5d5d;;
    padding: 4px 8px;
    border-radius: 2px;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid
}


footer {
    padding-top: 16px;
    height: 90px;
    display: grid;
    align-content: center;
    justify-content: flex-end;
}

hr.separator {
    margin-bottom: calc(4.45vh - 8px);
    margin-top: calc(4.45vh - 8px);
    border-top: 1px dashed #fb5d5d45;
    background: none;
}
  
