html {
    margin: 0px auto;
    max-width: 1440px;
}

content {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 50vw 40vw;
    grid-gap: 16px;
    background-color: white;
    margin-bottom: 16px;
        
}

content.center{
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
    grid-template-columns: 70vw;
    min-height: calc(240vh - 150px);
}

content.content-typography {
    grid-template-columns: 70vw;
    padding-top: 80px;
}

@media only screen and (max-width: 768px) {
    content {
        display: flex;
        flex-wrap: nowrap; 
        flex-direction: column;
    }
    content.center{
        min-height: calc(160vh - 120px);
    }
  }
  
@media only screen and (max-width: 480px) {
    content {
        display: flex;
        flex-wrap: nowrap; 
        flex-direction: column;
    }
    content.center {
        min-height: calc(160vh - 200px);
    }
  }

header {
    padding-top: 16px;
}

footer {
    padding-top: 16px;
    height: 90px;
    display: grid;
    align-content: center;
    justify-content: flex-end;
}

hr.separator {
    margin-bottom: calc(2.45rem - 1px);
    margin-top: calc(2.45rem - 1px);
    border-top: 1px dashed black;
    background: none;
}
  
